version: '3.8'
services:
  mlflow:
    image: python:3.10-slim
    environment:
      MLFLOW_TRACKING_URI: 'file:///mlruns'
    volumes:
      - ./mlruns:/mlruns
      - ./mlflow.db:/mlflow.db
    ports:
      - '5000:5000'
    command: sh -c "pip install --no-cache-dir mlflow && mlflow server --backend-store-uri sqlite:///mlflow.db --default-artifact-root ./mlruns --host 0.0.0.0 --port 5000"
